:root {
  --primary-textcolor: #eee8d5;
  --secondary-textcolor:#b0b0c0;
  --background-color: #00141a;
  --button-color :  #2aa198;
  --button-hover-color: #eee8d5;
    --primary_font: "Roboto Mono", monospace;
    --sub-textcolor:#808090;
}